{{% "color" : "#{rx}{gx}{bx}{ax}" %}}

# Injected by niji
font="{{font_family}}" {{font_size}}
background-color={{background_color}}
text-color={{text_color}}
border-size={{border_size}}
border-radius={{border_radius}}

[urgency=low]
border-color={{low_border_color}}

[urgency=normal]
border-color={{normal_border_color}}

[urgency=high]
border-color={{high_border_color}}

[]
# Custom config
{{custom_config}}
