{{% "color" : "{rx}{gx}{bx}{ax}" %}}
background_color = {{background_color}}
bar_color = {{bar_color}}
border_color = {{border_color}}
overflow_background_color = {{overflow_background_color}}
overflow_bar_color = {{overflow_bar_color}}
overflow_border_color = {{overflow_border_color}}
{{custom_config}}
