$variant: "{{variant}}";
$colorscheme: "default";
$opacity: "{{opacity}}";
$theme: "default";
$compact: "{{compact}}";
$translucent: "{{translucent}}";
$rimless: "{{rimless}}";
$window_button: "{{window_button}}";
$float: "{{float}}";
