{{% "color" : "rgba({r}, {g}, {b}, {af})" %}}

* {
	border: none;
	border-radius: 0;
	min-height: 0;
	min-width: 0;
	font-family:
		{{#font}} "{{.}}", {{/font}}
		{{#icon_font}} "{{.}}", {{/icon_font}}
		sans-serif;
	font-size: {{font_size}};
}

window#waybar {
	background-color: {{bar_background}};
	transition-property: background-color;
	transition-duration: {{transition_duration}};
}

window#waybar.hidden {
	opacity: {{hidden_opacity}};
}

#workspaces {
	background-color: {{background}};
	border-radius: {{border_radius}}px;

	{{#show_shadow}}
	box-shadow: 0 3px 2px {{shadow}};
	{{/show_shadow}}
}

#workspaces button {
	all: initial;
	min-width: 0;
	padding: {{padding_y}}px {{padding_x}}px;
	margin-left: {{workspace_button_margin}}px;
	border-radius: {{border_radius}}px;
	background-color: {{surface}};
	color: {{text_surface}};
}

#workspaces button:first-child {
	margin-left: 0;
}

#workspaces button.focused,
#workspaces button.active
{
	background-color: {{primary}};
	color: {{text_primary}};
}

#workspace button:hover, #tags button:hover {
	border: {{border_width}}px {{secondary}} solid;
}

#workspace button.urgent {
	background-color: {{warning}};
	color: {{text_warning}};
}

{{#custom_modules}}
#{{.}},
{{/custom_modules}}
#backlight,
#backlight-slider,
#battery,
#bluetooth,
#cava,
#clock,
#cpu,
#disk,
#tags,
#tray,
#gamemode,
#language,
#submap,
#idle_inhibitor,
#image,
#jack,
#keyboard-state,
#language,
#memory,
#mpd,
#mpris,
#network,
#pulseaudio,
#pulseaudio-slider,
#privacy,
#sndio,
#window,
#mode,
#temperature,
#taskbar,
#upower,
#wireplumber,
#user
{
	border-radius: {{border_radius}}px;
	padding: {{padding_y}}px {{padding_x}}px;
	margin: 0 {{module_outer_margin}}px;
	background-color: {{background}};
	color: {{text_background}};

	{{#show_shadow}}
	box-shadow: 0 3px 2px {{shadow}};
	{{/show_shadow}}
}

#submap, 
#mode
{
	background-color: {{info}};
	color: {{text_info}};
}


#tray.empty {
	margin: 0;
	padding: 0;
	background-color: transparent;
}

tooltip {
	border-radius: {{border_radius}}px;
	background-color: {{background}};
	color: {{text_background}};
}

tooltip label {
	background-color: {{background}};
	color: {{text_background}};
}

{{custom_style}}
