* {
	border: none;
	border-radius: 0;
	min-height: 0;
	font-family:
		{{#font}} "{{.}}", {{/font}}
		{{#icon_font}} "{{.}}", {{/icon_font}}
		sans-serif;
	font-size: {{font_size}};
}

window#waybar {
	background-color: {{bar_background}};
	transition-property: background-color;
	transition-duration: {{transition_duration}};
}

window#waybar.hidden {
	opacity: {{hidden_opacity}};
}

#workspaces {
	background-color: {{background}};
	border-radius: {{border_radius}};
	margin: {{margin_y}} 0;
}

#workspaces button {
	all: initial;
	min-width: 0;
	padding: {{padding_y}} {{padding_x}};
	margin-left: {{workspace_button_margin}};
	border-radius: {{border_radius}};
	background-color: {{surface}};
	color: {{text_surface}};
}

#workspaces button:first-child {
	margin-left: 0;
}

#workspaces button.focused,
#workspaces button.active
{
	background-color: {{primary}};
	color: {{text_primary}};
}

#workspace button:hover, #tags button:hover {
	border: {{border_width}} {{secondary}} solid;
}

#workspace button.urgent {
	background-color: {{warning}};
	color: {{text_warning}};
}

{{#custom_modules}}
#{{.}},
{{/custom_modules}}
#memory,
#battery,
#idle_inhibitor,
#backlight,
#pulseaudio,
#network,
#clock,
#tray,
#cpu,
#temperature
{
	border-radius: {{border_radius}};
	padding: {{padding_y}} {{padding_x}};
	margin: {{margin_y}} {{margin_x}};
	border-radius: {{border_radius}};
	background-color: {{background}};
	color: {{text_background}};
}


tooltip {
	border-radius: {{border_radius}};
	background-color: {{background}};
	color: {{text_background}};
}

tooltip label {
	background-color: {{background}};
	color: {{text_background}};
}

{{custom_style}}
