{{% "color" : "rgba({rx}{gx}{bx}{ax})" %}}

{{#configure_cursor}}
exec = hyprctl setcursor "{{cursor_theme}}" {{cursor_size}}
{{/configure_cursor}}

general {
	col.inactive_border = {{border_color}}
	col.active_border = {{active_border_color}}
}

decoration {
	shadow {
		color = {{shadow_color}}
	}
}
