@define-color niji_background {{background}};
@define-color niji_text_background {{text_background}};
@define-color niji_surface {{surface}};
@define-color niji_text_surface {{text_surface}};
@define-color niji_primary {{primary}};
@define-color niji_text_primary {{text_primary}};
@define-color niji_secondary {{secondary}};
@define-color niji_border {{border}};
@define-color niji_shadow {{shadow}};
@define-color niji_success {{success}};
@define-color niji_text_success {{text_success}};
@define-color niji_info {{info}};
@define-color niji_text_info {{text_info}};
@define-color niji_warning {{warning}};
@define-color niji_text_warning {{text_warning}};
@define-color niji_error {{error}};
@define-color niji_text_error {{text_error}};
