{{% "color" : "{rx}{gx}{bx}" %}}

client.focused {{focused}} {{focused}} {{text_focused}} {{focused}} {{indicator}}
client.focused_inactive {{focused}} {{focused}} {{text_focused}} {{focused}} {{indicator}}
client.focused_tab_title {{focused}} {{focused}} {{text_focused}} {{focused}} {{indicator}}
client.unfocused {{unfocused}} {{unfocused}} {{text_unfocused}} {{unfocused}}
client.urgent {{notify}} {{notify}} {{text_notify}} {{notify}} {{notify}}

{{#font}}
font {{.}} {{font_size}}
{{/font}}
