inside-color={{inside_color}}
inside-clear-color={{inside_clear_color}}
inside-caps-lock-color={{inside_caps_lock_color}}
inside-ver-color={{inside_ver_color}}
inside-wrong-color={{inside_wrong_color}}
key-hl-color={{key_hl_color}}
caps-lock-key-hl-color={{caps_lock_key_hl_color}}
bs-hl-color={{bs_hl_color}}
caps-lock-bs-hl-color={{caps_lock_bs_hl_color}}
layout-bg-color={{layout_bg_color}}
layout-border-color={{layout_border_color}}
layout-text-color={{layout_text_color}}
line-uses-inside
ring-color={{ring_color}}
ring-clear-color={{ring_clear_color}}
ring-caps-lock-color={{ring_caps_lock_color}}
ring-ver-color={{ring_ver_color}}
ring-wrong-color={{ring_wrong_color}}
separator-color={{separator_color}}
text-color={{text_color}}
text-clear-color={{text_clear_color}}
text-caps-lock-color={{text_caps_lock_color}}
text-ver-color={{text_ver_color}}
text-wrong-color={{text_wrong_color}}
{{#font_family}}font="{{.}}"{{/font_family}}
{{custom_config}}
