background {{background}}
foreground {{foreground}}
url_color {{url}}
bell_border_color {{alert}}
visual_bell_color {{alert}}

active_tab_foreground {{text_primary}}
active_tab_background {{primary}}
inactive_tab_foreground {{text_surface}}
inactive_tab_background {{surface}}

color0 {{black}}
color1 {{red}}
color2 {{green}}
color3 {{yellow}}
color4 {{blue}}
color5 {{magenta}}
color6 {{cyan}}
color7 {{white}}
color8 {{bright_black}}
color9 {{bright_red}}
color10 {{bright_green}}
color11 {{bright_yellow}}
color12 {{bright_blue}}
color13 {{bright_magenta}}
color14 {{bright_cyan}}
color15 {{bright_white}}
